// Compile "main.scss" as "css/main.css"

/**
 * Import Bootstrap sources
 * https://getbootstrap.com/docs/5.2/customize/sass
 */

//@import "../node_modules/bootstrap/scss/bootstrap"; // Include all of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';


// 2. Include any default variable overrides here
$primary: #1A1918;
$secondary: #5e6975;
$text-white: #f2f2f2;


/**

// Options
$enable-dark-mode: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-caret: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: true;
$enable-deprecation-messages: true;
$enable-important-utilities: true;
$enable-smooth-scroll: true;

$spacer: 1rem;

// Grayscale vars
$gray-100: #f8f9fa;
//$gray-200: #e9ecef;
$gray-200: #F0F2F4;
$gray-300: #dfdfdf;
$gray-400: #d4d4d4;
$gray-500: #b3b3b3;
$gray-600: #777777;
$gray-700: #565656;
$gray-800: #3c3c3c;
$gray-900: #242424;

// Color vars
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;


/* scss-docs-start grid-breakpoints*/
$grid-breakpoints: (xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	xxxl: 1600px);
// scss-docs-end grid-breakpoints

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths

$container-max-widths: (sm: 540px,
	md: 758px,
	lg: 990px,
	xl: 1140px,
	xxl: 1320px,
	xxxl: 1520px);

// Fonts
$font-family-sans-serif: 'Inter',
system-ui,
-apple-system,
'Segoe UI',
Roboto,
'Helvetica Neue',
Arial,
'Noto Sans',
'Liberation Sans',
sans-serif;
$font-family-serif: Georgia,
'Times New Roman',
Times,
serif;
$font-family-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
'Liberation Mono',
'Courier New',
monospace;
$font-family-base: $font-family-sans-serif;

$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed: Uncomment components to reduce the filesize
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/accordion';
@import '../node_modules/bootstrap/scss/breadcrumb';
@import '../node_modules/bootstrap/scss/pagination';
@import '../node_modules/bootstrap/scss/badge';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/progress';
@import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/tooltip';
@import '../node_modules/bootstrap/scss/popover';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/offcanvas';
@import '../node_modules/bootstrap/scss/helpers';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

@import '../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

/**
 * General
 */


:root {
	--Color-Carniceria: #e70033;

	--Color-Ecopuestos: #66bc29;

	--Color-Fruteria: #66bc29;

	--Color-Gastrobares: #929ea5;

	--Color-Otros: #b7007a;

	--Color-Pescaderia: #26aadc;

	--Color-Polleria: #b7007a;

}

* {

	box-sizing: border-box;
	transition: all 0.3s ease-in-out 0s;
}


.bg-dark-90 {
	background-color: rgba($primary, .9);
}
body {
	margin: 0px;
	padding: 0px;
	background-color: $light;

	&.page-template-page-full {
		#main {
			max-width: 100%;
		}
	}

	h1 {
		font-size: 3.5rem;
		font-weight: 600;
		letter-spacing: -.045em;
		line-height: 3.75rem;
		margin-top: 2rem;
	}

	h2 {
		font-size: 2.75rem;
		font-weight: 600;
		letter-spacing: -0.0275em;
	}

	h3 {
		font-size: 1.625rem;
		font-weight: 600;
		letter-spacing: -0.02em;
	}

	/* If WP-Adminbar is visible */
	&.admin-bar {
		#header.fixed-top {
			top: var(--wp-admin--admin-bar--height);
		}

		.edit-link a {
			color: #fff !important;
			font-weight: normal !important;
			text-decoration: none !important;

			&::before {
				content: '\270E';
				display: inline-block;
				margin-right: 5px;
			}
		}
	}
}

.blockquote,
blockquote {
	letter-spacing: -0.02em;
	font-size: 1.25rem;
}

img {
	vertical-align: middle;
}

/**
 * WordPress customization
 */

/* WordPress Embeds */

.post-thumbnail,
.wp-video,
.embed-responsive {
	margin: 5px 0;
	width: 100% !important;
}

.post,
.post-thumbnail {
	img {
		max-width: 100%;
		height: auto;
	}
}

/* Header */

#header {
	.search-form {
		min-width: 250px;
	}

	a i {
		font-size: 36px;
		color: $primary;
	}
	padding-top: 0;
}

/*.navbar-brand {
	img {
		height: 40px;
	}
}*/

.navbar-static-top {
	margin-bottom: $grid-gutter-width;
}

/* Main */

/*#main {
	margin-top: $spacer;
}*/
main {
	padding-top: 92px;
}

/* Footer */

#footer {
	//background-color: #fff;
	background: #333 url("http://mercadoabastos.eus/wp-content/uploads/2024/05/bg-footer.jpg") center center;
	background-size: cover;
	color: $text-white;

	p {

		margin-top: 10px;
	}

	a {
		color: white;
	}

	.menu-item {
		a {
			&[aria-current='page'] {
				color: $link-hover-color;
			}
		}
	}
}

/* Sidebar */
#sidebar,
#ds_sidebar {
	h4 {
		font-size: 1.05rem;
		color: $primary;
	}

	.fecha-noticia-sidebar {
		font-size: .9rem;
		color: $secondary;
		margin-top: .5em;
	}

	.wp-block-latest-posts__list.wp-block-latest-posts,
	.recentposts {
		li {
			border-bottom: 1px solid;
			line-height: 1.3;
			padding: .5rem 0;
		}
	}

}

.widget-area {
	ul {
		list-style: none;
		padding: 0;
	}
}

/* Author */

.author-avatar {
	.avatar {
		width: 64px;
		height: auto;
	}
}

.author-info {
	margin: 40px 0;

	h2,
	h3 {
		margin-top: 0;
	}

	/*sidebar*/

	h3 {
		background: $primary;
		color: white;
		padding: 1rem 1.5rem;
		margin: 0;
		font-size: 1.37rem;
	}

	.wp-block-search {
		margin-bottom: 1em;
	}

	ul li {
		padding: .75em 1.5rem;
		background-color: $light;
		border-bottom: 1px solid lighten($primary, 30%);
		//font-family: $font-family-serif;
		line-height: normal;
		font-size: 1.05em;

		&.current-menu-item,
		&.current-cat {
			background-color: #fff;
		}

	}

}

ul.datos-puesto,
ul.datos-evento {
	list-style: none;
	margin: 0;
	padding: 1em;

	//border-bottom: 1px solid $primary;
	li {
		border-bottom: 1px solid $primary;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
}

ul.datos-evento {
	list-style: none;
	margin: 0 0 1.5em;
	padding: 0;

	//border-bottom: 1px solid $primary;
	li {
		border-bottom: 1px solid $primary;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
}

/* Posts */

.sticky {
	.card {
		background-color: $gray-100;
	}
}

.entry-meta {
	font-size: small;
	margin-top: ($grid-gutter-width * 0.5);
}

.single {

	.entry-content,
	.post-navigation,
	#comments-title {
		margin: $grid-gutter-width 0;
	}
}

#comments {
	margin-top: $grid-gutter-width;
}

.comment-meta {
	height: 40px;
}

.comment-reply-title {
	margin: $grid-gutter-width 0 ($grid-gutter-width * 0.5);
}

.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;

	>li.comment {
		margin: 0 0 1.625em;
		padding: 1.625em;
		position: relative;
	}

	.children {
		list-style: none;
		margin-top: $grid-gutter-width;

		>li.comment {
			border-top: 1px solid $gray-300;
			padding-top: $grid-gutter-width;
			position: relative;
		}
	}

	.avatar {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		box-shadow: 0 1px 2px $gray-600;
		padding: 0;
		position: absolute;
		top: 0;
		left: -102px;
	}
}

/* WordPress Blocks */

// Buttons

.wp-block-button {
	&.is-style-outline {
		.wp-block-button__link {
			@extend .btn;
			@extend .btn-outline-primary;
		}
	}

	&.btn-lg {
		.wp-block-button__link {
			@extend .btn-lg;
		}
	}

	&.btn-sm {
		.wp-block-button__link {
			@extend .btn-sm;
		}
	}

	.wp-block-button__link {
		@extend .btn;
		@extend .btn-primary;
		text-decoration: none;
	}
}

// Table

.wp-block-table {

	td,
	th {
		border: inherit;
	}

	table {
		@extend .table;
	}
}

// Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {

	img,
	video {
		height: auto;
	}
}

/**
 * Responsive Design using "mixins/_breakpoints.scss"
 */

@media (max-width: breakpoint-max(sm)) {
	#sidebar {
		margin-top: 60px;
	}
}



/*eo*/

#wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;

	main {
		flex-grow: 1;
	}
}

.info-prac {
/*margin-top: -13rem;
z-index: 10;*/

	p {
		margin-bottom: 0;
	}
}

/*eo override Gutenberg*/
/*.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
	flex-basis: inherit !important;
	flex-grow: inherit !important;
}*/

header {
	.navbar-nav {
		li {
			>a {
				font-size: 1.125rem;
				font-weight: 500;
				color: $gray-400;
				border-top: 3px solid transparent;

				&:hover:not(.active) {
					//opacity: .6;
					//color: $primary;
					//color: $gray-600;
					border-color: $gray-500;
				}

				&.active,
				&:has(+ ul li a.dropdown-item.active) {
					color: white !important;
					border-color: white;
					opacity: 1 !important;
					background: transparent;
				}

				@media (min-width: breakpoint-max(md)) {
					padding: .5rem 1.25rem !important;
				}
			}

			li a.dropdown-item {
				color: $gray-300;
				font-size: .95em;
				font-weight: 400;
				padding-top: .5rem !important;
				padding-bottom: .5rem !important;

				&:hover {
					border-color: transparent;
					background-color: $gray-800;
					color: $gray-100;
				}

				&.active {
					border-color: transparent;
					background-color: $gray-800;
					color: white;
				}
			}
		}
	}

	.menu-idiomas nav ul {
		list-style: none;
		display: flex;
		align-items: end;
		margin: 0;
		height: 100%;

		li {
			a {
				padding: .5rem .35rem;
				color: $light;
				font-weight: 600;
				opacity: .6;
				&:hover {
					opacity: .9;
				}
			}

			&.current-lang a {
				color: white !important;
				opacity: 1;

			/*	&:hover {
					opacity: 1;
				}*/
			}
		}
	}
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
	z-index: 2;
}

.headroom--unpinned {
	top: -100px;
}

.headroom--pinned {
	top: 0;
}


.cab-int {
	color: white;
	h1 {
		margin-top: 0;
	}
	figure {
		max-width: 280px;

	}

	@media (min-width: breakpoint-max(lg)) {
		max-height: 80vh;

		figure {
			max-width: 380px;
		}
	}

	padding: 4em 0 !important;

	h1.has-large-font-size {
		font-size: 3.5rem !important;
	}

	h1,
	p {
		max-width: 36rem;
	}



}

.mercado-milestones {
	font-size: 18px;
	color: #f0f0f0;

	strong {
		font-size: 32px;
		color: white;
		letter-spacing: -.04em;
	}
}

.menu-subcab {
	margin-top: 1rem;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			margin: 0;
			padding: 0;

			a span {
				display: block;
				padding: .5rem 1rem;
				background-color: $primary;
				color: white;
			}

			&.current-menu-item a {
				&:hover {
					cursor: default;
				}

				span {
					background-color: #E8EBEE;
					color: $primary;

				}
			}

			/*a:not(&.current-menu-item a):hover span {
				background-color: rgba($primary, .8);

			}*/
			//No sé porqué esto afecta a cosas que no están en menu-subcab
		}
	}
}

/*.wp-block-cover.alignwide.cab-int,
.wp-block-cover.alignwide.has-custom-content-position.is-position-center-right.cab-int {
	transform: none !important;
	left: unset !important;

	//	position: relative !important;
	.wp-block-cover__inner-container.is-layout-flow.wp-block-cover-is-layout-flow {
		width: 100% !important;
	}
}*/



/*eo helper*/
.list-style-none {
	list-style: none;
}

.grayscale-100 {
	filter: grayscale(100%);
}

.grayscale-20 {
	filter: grayscale(20%);
}

.grayscale-contrast {
	filter: grayscale(100%) brightness(80%) contrast(220%);
}

/*Overlapping*/


/*.about_section .about_img img
{
    max-width:100%;
	height: auto;
	  border-radius:15px;
    box-shadow:0 16px 28px 0 rgba(8,56,103,.5);}

@media (min-width:992px)
{
    .about_section .about_img img
    {
	  width:60%;}

    .about_section .about_img_2
    {
    margin:-180px 0 0 270px;}
    
    .about_section .about_img_3
    {
    margin:-260px 0 0 40px;}
}

@media(max-width:991px)
{
    .about_section .about_img img
  {
      margin:3rem 0;}
}

.overlapping-mercado {
	text-align: right;
	
}*/








.historia {
	.card {
		border: 0;
	}

	.timeline {
		display: grid;
		grid-template-columns: .25rem 1fr;
		grid-auto-columns: -webkit-max-content;
		grid-auto-columns: max-content;
		-webkit-column-gap: 2rem;
		-moz-column-gap: 2rem;
		column-gap: 2rem;
		list-style: none;

		img {
			max-width: 100%;
			height: auto;
		}

		&::before {
			content: "";
			grid-column: 1;
			grid-row: 1/span 20;
			background: rgba($primary, .5);
		}

		li {
			grid-column: 2;
			margin-inline: 1.5rem;
			grid-row: span 2;
			display: grid;
			grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
			grid-template-rows: min-content min-content min-content;

			&:not(:last-child) {
				margin-bottom: 2rem;
			}

			.date {
				height: 3rem;
				margin-inline: -1.5rem;
				text-align: center;
				color: #fff;
				display: grid;
				place-content: center;
				position: relative;
				border-radius: 1.5rem 0 0 1.5rem;

				&::before {
					content: "";
					width: 1.8rem;
					aspect-ratio: 1;
					background: #f8f7fa;
					position: absolute;
					top: 100%;
					-webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
					clip-path: polygon(0 0, 100% 0, 0 100%);
					right: 0;
				}

				&::after {
					content: "";
					display: block;
					position: absolute;
					width: 14px;
					height: 14px;
					background: $primary;
					border-radius: 15px;
					z-index: 1;
					top: 50%;
					-webkit-transform: translate(50%, -50%);
					transform: translate(50%, -50%);
					right: calc(100% + 2rem + .125rem);
				}
			}

			.title {
				position: relative;
				padding-inline: 1.5rem;
				overflow: hidden;
				-webkit-padding-before: 1.5rem;
				padding-block-start: 1.5rem;
				-webkit-padding-after: 1rem;
				padding-block-end: 1rem;
				font-weight: 500;

				&::before {
					bottom: calc(100% + .125rem);
				}
			}

			.descr {
				position: relative;
				padding-inline: 1.5rem;
				-webkit-padding-after: 1.5rem;
				padding-block-end: 1.5rem;
				font-weight: 300;

				&::before {
					z-index: -1;
					bottom: 0.25rem;
				}
			}
		}

		.timeline-date {
			width: 54px;
			height: 85px;
			display: inline-block;
			padding: 8px;
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
			clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
			z-index: 1;
		}
	}

	@media (min-width: 40rem) {
		.timeline {
			grid-template-columns: 1fr 0.25rem 1fr;

			&::before {
				grid-column: 2;
			}

			li {
				&:nth-child(odd) {
					grid-column: 1;

					.date {
						border-radius: 0 1.5rem 1.5rem 0;

						&::before {
							-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
							clip-path: polygon(0 0, 100% 0, 100% 100%);
							left: 0;
						}

						&::after {
							-webkit-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
							left: calc(100% + 2rem + .125rem);
						}
					}
				}

				&:nth-child(even) {
					grid-column: 3;
				}

				&:nth-child(2) {
					grid-row: 2 / 4;
				}
			}
		}
	}

	h5,
	h6 {
		color: #201f26 !important;
	}
}

.grid.grid--horarios {
	h3 {
		margin-top: .5rem;
		margin-bottom: 0.5rem;
		margin-bottom: 0;
	}
}



.offcanvas {
	.offcanvas-body {
		padding: 0;
	}

	h5 {
		opacity: 0
	}

	.btn-close {
		color: white;

		&:hover {
			color: white
		}
	}



	background: #000;



	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;

			a {
				list-style: none;
				text-decoration: none;
				display: block;
				color: rgba(white, .7);



				&.active,
				&:has(+ ul li a.dropdown-item.active),
				&.show {
					color: white !important;
					background-color: rgba(white, .3);
				}

				padding: .75rem 1.5rem;
				font-size: 1.2rem;

				&:hover {
					background-color: rgba(white, .15);
					color: rgba(white, .9) !important;
					border-color: transparent !important;
				}
			}
		}

		.dropdown-menu {
			background-color: transparent;

			.dropdown-item {
				//background-color: rgba(white, .3);
				color: rgba(white, .9) !important;

				&:hover {
					color: rgba(white, .9) !important;
					background-color: rgba(white, .12);
				}

				&.active {
					color: rgba(white, .9) !important;
					background-color: rgba(white, .20);
				}
			}
		}
	}
}

.listado-posts {
	.card {
		//height: 100%;
		height: 436px;
		margin-bottom: 1.5rem;
		border: 0;

		a {
			height: 100%;

			img {
				height: 100%;
			}
		}

		h2 {
			font-size: 1.375em;
			margin-top: 4.25em;
			//text-shadow: 0 0 30px #000;
		}

		.card-body h2 a {
			color: white;
		}

		position: relative;

		.card-body {
			padding: 0 !important;
		}

		.text-min {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			padding: 0 1.25em;
			color: white;
		}

		img {
			object-fit: cover;
			width: 100%;
		}


		.datos-noticia {
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 0.8);
			color: #000;
			font-weight: 500;
			padding: .4em 1em;
		}

		.overlay-min-blog {
			width: 100%;
			height: 100%;
			position: absolute;

			background: rgb(26, 25, 24);
			background: linear-gradient(180deg, rgba(26, 25, 24, 0.44) 0%, rgba(26, 25, 24, 0.80) 25%, rgba(26, 25, 24, 0.4) 100%);
		}

		&:hover {
			//opacity: .8;
			outline: 0;

			.text-min,
			.text-min h2 a {
				color: $primary !important;
				text-shadow: none !important;
			}

			.overlay-min-blog {
				background: transparent;
			}

			img {
				opacity: 0;
			}
		}




	}

}

.paginador {
	margin-top: 40px;
	margin-bottom: 50px;
	padding-top: 20px;
	border-top: 1px dotted $gray-300;
}

.page-numbers {
	clear: both;
	position: relative;
	background: $gray-200;
	color: #333;
	padding: 10px;
	font-size: .9rem;
	font-weight: 500;
	width: auto;

	a,
	span {
		display: block;
		float: left;
		margin: 0 1px;
		padding: 5px;
		text-decoration: none;
		text-align: center;
		width: auto;
	}

	a span {
		padding: 0;
	}

	&.current {
		background: $primary;
		color: #fff;
	}
}

a.page-numbers:hover {
	background: $gray-400;
}


/*Menu sidebar puestos*/
nav.menu-puestos {
	margin-top: 1.5rem;

	>ul {
		padding: 0;
		margin: 0;

		>li {
			/*padding-left: 1.25rem;*/
			border-bottom: 1px solid;

			>a {
				font-size: 1.125rem;
				letter-spacing: -0.015em;
				padding: .5rem 0;
				line-height: 1.2;
				color: $gray-800;
				/*&::before {
				position: absolute;
                font-family: 'bootstrap-icons';
				content: "\F285";
				color: $primary;
				font-weight: 600;
				left: 0;
				top: .5rem;
				font-size: .9rem;
			 }*/
			}

			ul.dropdown-menu.show {
				position: relative !important;
				transform: none !important;
				box-shadow: none !important;
				border: 0 !important;

				li a {
					font-size: .9rem;
					padding: .5rem;
					color: $gray-700;

					&.active {
						background-color: $gray-200;
						color: $primary;
					}
				}
			}
		}

	}
}


.cab-puesto {
	position: relative;
	height: 300px;

	.overlay-cabpuesto {
		position: absolute;
		z-index: 1;
		background: rgb(0, 0, 0);
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .8) 100%);
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
	}

	.img-cabpuesto-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		top: 0;
		object-fit: cover;
	}

	h1 {
		position: absolute;
		left: 2rem;
		bottom: 2rem;
		z-index: 2;
		color: white;
	}
}

.sidebar-puesto {
	z-index: 5;

	@media (min-width: breakpoint-max(xl)) {
		margin-top: -5rem;
	}

	background-color: $primary;
	color: white;
}


/*plano interactivo mapa sensible*/

.item_introtext {
	width: 100%;
}

#planoTipos {
	display: flex;
	flex-wrap: wrap;
}

#planoTipos li {
	list-style: none;
	margin-left: 2em
}

/*#planoTipos li:before{content:"o ";color:red;font-size:.4em}*/
#planoTipos li:first-child {
	margin-left: .5em
}

#plano-puestos figure {
	position: relative;
	margin: 0 0 1em 0;
	padding-bottom: 1em
}

#plano-puestos figure figcaption,
#cartelPuesto {
	text-align: center;
	width: 100%
}

#plano-puestos figure figcaption {
	font-style: italic;
	font-size: .65em
}

#cartelPuesto {
	margin: 1em 0;
	font-size: 1em
}

#nombrePuesto {
	border: 1px solid #000;
	font-size: 1.25em;
	margin: 0 auto;
	min-height: 2.5em;
	min-width: 100%;
	padding: 1em 0;
	text-align: center;
	width: fit-content
}

#nombrePuesto br {
	line-height: 1.5em
}

#nombrePuesto small {
	font-size: .7em
}

#plano-puestos a:visited,
#plano-puestos a:hover,
#plano-puestos a:focus,
#plano-puestos a:active {
	color: transparent;
	font-size: .4em
}

#imagenPlano {
	height: auto;
	width: 100%
}

.posAbs {
	position: absolute
}

.colorTitular {
	color: #3e5153
}

.colorVerdeClaro {
	color: #37b373
}

/*#34a289 #399a84  */
.colorVerdeClaroBrillante {
	color: #2eb135
}

.colorVerdeOscuro {
	color: #028c6c
}

.colorCarniceria {
	color: #e70033
}

.colorEcopuestos {
	color: #66bc29
}

.colorFruteria {
	color: #66bc29
}

.colorGastrobares {
	color: #929ea5
}

.colorOtros {
	color: #b7007a
}

.colorPescaderia {
	color: #26aadc
}

.colorPolleria {
	color: #b7007a
}

.fondoCarniceria {
	background-color: #e70033
}

.fondoEcopuestos {
	background-color: #66bc29
}

.fondoFruteria {
	background-color: #66bc29
}

.fondoGastrobares {
	background-color: #929ea5
}

.fondoOtros {
	background-color: #b7007a
}

.fondoPescaderia {
	background-color: #26aadc
}

.fondoPolleria {
	background-color: #b7007a
}


/*Plano w870px*/
#plano-puestos {
	max-width: 870px !important;

	>figure {
		max-width: 100%
	}

	>div {
		max-width: 100%;
		height: auto;
		//min-height: 620px;

		>canvas {
			max-width: 100%;
			height: auto;
		}
	}


}

#cartelPuesto {
	width: 870px;
	max-width: 100%;
}





/*Google Maps*/
.contact-miscinfo iframe {

	object-fit: cover;
	aspect-ratio: 3 / 1;

}





/*Contact Form*/
.form-mercado {

	/*	span.wpcf7-form-control-wrap, label {
		display: block;
		width: 100%;
	}*/
	.wpcf7-list-item:has(input[type="checkbox"]) {
		margin-left: 0;
	}
}




/*Woocommerce*/

.container .wp-block-woocommerce-cart.alignwide {

	left: unset !important;
	max-width: unset !important;
	min-width: unset !important;
	position: unset !important;
	transform: unset !important;
	width: unset !important;

}
.woocommerce-breadcrumb {
	display: none;
}

.eventos-home ul.products {
	list-style: none;
	display: flex;

	>li {
		flex: 1;
		text-align: center;
		display: flex;
		flex-direction: column;

		h2 {
			font-size: 1.5rem;
			margin-top: 1em;
		}

		.button {
			//display: block;
			background-color: $primary;
			color: white;
			margin-top: 1em;
			width: fit-content;
			margin: 1em auto;
			padding: .5em 1em;

			&:hover {
				background-color: $secondary;
			}
		}
	}
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	font-size: 1.5em;
}
svg.wc-block-mini-cart__icon circle,svg.wc-block-mini-cart__icon path {
	fill: white !important;
}
.wc-block-mini-cart__badge {
	background-color: white !important;
	color: $primary !important;
}
.woocommerce.widget_shopping_cart .woocommerce-mini-cart__buttons a {
    width: 100%;
}


//EVENT TICKETS MANAGER FOR WOOCOMMERCE




#wps-search-results.wps_list {
	max-width: 80rem;
	margin: 2em auto;
	gap: 0;

	.wps-etmw_single-event {
		>* {
			flex: 1;
		}

		.foto-y-descrip {
			display: flex;

			>* {
				flex: 1;
			}

			>img {
				//	aspect-ratio: 16/9;
				//max-height: 14rem;
				align-self: center;
				object-fit: cover;
			}

			display: flex !important;

			//grid-template-columns: 50% 50%;

			.wps-etmw_prod-desc {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: left;
				//padding: 4em;
				//background: #f5f7f9;
				background: $primary;
				color: white;

				.wps-etmw_all-date {
					color: $gray-300;
					font-size: .9rem;
				}

				.wps-etmw_prod-btn {
					margin-top: 1em;
				}


			}
		}

		&:nth-of-type(odd) .foto-y-descrip {
			flex-direction: row-reverse !important;

		}

		/*&:nth-of-type(odd) {
				flex-direction: row-reverse !important;
				.wps-etmw_prod-desc {
					text-align: right;
				}
				}*/
		.fecha-grande {
			font-size: 3rem !important;
			color: $gray-500 !important;
			align-self: center !important;
			font-weight: 700;
			letter-spacing: -0.02em;
			line-height: 1;
		}
	}

}

/*Ficha evento*/

.wps_etmfw_event_info_section {
	margin-bottom: 2em;

	>div {
		margin-bottom: .5em;
	}

}

.woocommerce .quantity .qty {
	height: 2.2em;
}

/*Cart*/
.wc-block-cart__submit-button.contained {
	background: $primary;
	color: white;
	text-transform: uppercase;
}

.wp-block-woocommerce-cart {
	margin-top: 2em;
}

:where(.wc-block-mini-cart__badge) {
	background-color: rgb(33, 37, 41) !important;
	color: rgb(248, 249, 250) !important;
}


/*.woocommerce ul.products.columns-1 li.product, .woocommerce-page ul.products.columns-1 li.product {
	display: flex;
}*/

.woocommerce ul.products li.product a,
.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
	position: relative;
	img {
		width: 100%;
		object-fit: cover;
	}
	.fecha-sobre-foto {
		position: absolute;
		top: 0;
		left: 0;
		background: rgba($primary, .8);
		color: white;
		font-weight: 700;
		text-align: center;
		padding: .5em;

		.mes {
			text-transform: capitalize;
			font-size: .75rem;
			letter-spacing: -0.02em;
			max-width: 40px;
			overflow: hidden;
			text-overflow: ellipsis;			
			white-space: nowrap;
		}

		.dia {
			font-size: 1.4rem;
		}

		.anio {
			font-size: .75rem;
			letter-spacing: -0.02em;
		}
	}
}


#homeCarousel {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #262626;
	.overlay-carousel {
		position: absolute;
		width: 100%; height: 100%;
		background: linear-gradient(270deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.8) 75%);
		@media(max-width: 991px) {
			background: rgba(0, 0, 0, 0.5) !important;
		}
		
	}
  
	.carousel-indicators li:not(.active) {
	  background-color: rgba(150, 150, 150, 0.5);
	}
  
	.carousel-item {	  
  
	  h1 {
		max-width: none;
		//letter-spacing: -0.05em;
		//font-weight: normal;
		font-size: calc(3.325rem + 1vw);
		@media (max-width:1367px) {
			font-size: calc(2.325rem + 1vw);
			
		}
		line-height: 1;
		color: white;
		margin-bottom: .25rem;
	  }
  
	  &:not(.fondo-blanco) h1 {
		
		padding-bottom: 10px;
	  }
  
	  h1 span {
		display: block;
	  }
  
	  p {
		color: #fff;
		font-size: 1.3rem;
		@media (max-width:1367px) {
			font-size: 1.25rem;
			
		}
		line-height: 1.4;
		font-weight: 300
	  }
  
	  &.fondo-blanco {
		background-color: #fff;
  
		h1 {
		  color: $primary;
		}
  
		p {
		  color: inherit;
		}
	  }
  
	  p.slider-subtitu {
		font-size: 2em;
		margin-top: 0;
		margin-bottom: 0;
		letter-spacing: -0.03em;
		padding-top: 0;
		font-weight: 400;
		line-height: 1;
	  }
  
	  &.fondo-blanco p.slider-subtitu {
		color: $primary;
	  }
  
	  > img {
		height: 100%;
	  }
	}
  
	.btn {
	  border-width: 2px;
	  padding: .45rem 1.75rem;
	  border-radius: 2rem;
	  text-transform: uppercase;
	  
	  font-weight: bold;
	}
  
	.carousel-control-next, .carousel-control-prev {
	  color: #69bdf5;
	}
  }


  #homeCarousel .carousel-item {
	min-height: 85vh;
	@media (max-width: 991px) {
		h1 {
			font-size: 3.5em;
			letter-spacing: -0.025em;
		  }
	  
		  p {
			font-size: 1.1em;
		  }		
	}
	@media (max-width: 766px) {
		h1 {
			font-size: 3em;
			line-height: .9;
		  }
	  
		
	}
	@media (max-width: 566px) {
		h1 {
			/* font-size: 2.6rem; */
			margin-bottom: 1.5rem;
		  }
	  
		
	}
}







#homeCarousel .carousel-item .carousel-caption {
  z-index: 1;
  bottom: 30%;
  h1, p { 
	  text-align: left;
  }
  
}



@media (max-width: 1679px) {
#homeCarousel .carousel-item .carousel-caption .row {
  max-width: 94%;
  margin-left: auto;
  margin-right: auto;
}
}

.cont-slider {
//margin: 0 auto;
//background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.65) 50%, rgba(255, 255, 255, 0) 90%);
padding-top: 1.75rem;
//padding-bottom: 2rem;
max-width: 42em;

//p { max-width: 600px;}
}



@media (max-width: 576px) {
.cont-slider p:first-child {
  display: none;
}
}